@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");

html,
main {
  color: #ffff;
  background: #031c3d;
}

footer {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
